<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Internal DashBoard</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
		integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
	.fix-table {
		white-space: nowrap;
		overflow: hidden;
	}

	.header-shadow {
		box-shadow: 0px 6px 15px #888888
	}
</style>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark header-shadow">
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/employee}"><i class="fa-solid fa-house"></i></a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" th:href="@{/employee}">Internal DashBoard</a>
				</li>
			</ul>
		</div>
		<!-- Brand -->
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Navbar links -->

	</nav>

	<br>
	<br>
	<div class="container">
		<div class="row">
			<!-- bootstrap css class-> it support all three devices large device small device and medium device and 
	justify-content-center to align the content at center and card for bold
	-->
			<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="texy-center"> Add New Employee</h1>
				<div class="card body">
					<!-- th:action to define the action of column and the action is the request url and @ represent the context path of the application
		 -->
					<!-- OBJECT is the model object we use in the controller class in this case it is student -->
					<form th:action="@{/employee}" th:object="${employee}" method="POST">
						<div class="form-group">
							<label>Employee ID</label>
							<input type="text" th:field="*{emp_id}" class="form-control"
								placeholder="Enter Employee ID" />
							<label>Employee Name</label>
							<input type="text" th:field="*{emp_name}" class="form-control"
								placeholder="Enter Employee Name" />
							<label>Employee Email</label>
							<input type="email" th:field="*{email}" class="form-control"
								placeholder="Enter Employee Email" />
							<label>Employee Location</label>
							<input type="text" th:field="*{location}" class="form-control"
								placeholder="Enter Base Location" />
							<label>Factory</label>
							<input type="text" th:field="*{factory}" class="form-control" placeholder="Enter Factory" />
							<label>Major Area</label>
							<input type="text" th:field="*{major_area}" class="form-control"
								placeholder="Enter Base Location" />
							<label>Skills</label>
							<input type="text" th:field="*{skills}" class="form-control"
								placeholder="Enter Base Location" />
							<label>Status</label>
							<br>
							<select th:field="*{status}" class="form-control">
								<option value="Active">Active</option>
								<option value="InActive">InActive</option>

							</select>
							<label>Start Date</label>
							<input type="text" th:field="*{start_date}" class="form-control"
								placeholder="Enter Start Date" />
							<label>End Date</label>
							<input type="text" th:field="*{end_date}" class="form-control"
								placeholder="Enter End Date" />
							<div class="box-footer">
								<button type="submit" class="btn btn-primary active"> Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>